
<!-- <ar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-bar-block">
      <app-users-counter></app-users-counter>
    </div>
    
    <hr>
    <div class="w3-container">
      <h5>Dashboard</h5>
    </div>
    <div class="w3-bar-block">
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/recipes" 
      class="w3-bar-item w3-button w3-padding w3-padding"><i class="fa fa-users fa-fw"></i>  Recipes</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i>  Chart</a>
    </div>
  </nav>