<mat-nav-list>
  <br>
  <div>
    <app-users-counter></app-users-counter>
  </div>
  <br>
  <mat-divider></mat-divider>
  <h2 matSubheader>Pages</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/recipes">Recipes</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/cookingTerms">  Cooking Terms</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/categories">Categories</a>

</mat-nav-list>