<p>
{{recipe.recipename}}
{{recipe.description}}
{{recipe.category}}
</p>

<!-- Interpolation - good for strings -->
<!-- <img src="{{path}}"/><br/> -->
<!-- Property binding -->
<img [src]="path"/><br/>
<!-- 
<img src="https://placehold.it/{{Mypath}}"/><br/> -->

<input #inp/>
<button (click)="foo(inp.value)">Click me</button>
{{bar}}

<p>{{datee}}</p>
<p>{{datee | date}}</p>
<p>{{datee |date:"dd/MM/yyy"}}</p>
<p>{{datee |date:"fullDate"| uppercase}}</p>

<table>
    <tr>
        <td>a</td>
        <td colSpan="{{1+1}}">
            bc
        </td>
    </tr>
    <tr>
        <td>a</td>
        <td>b</td>
        <td>c</td>
    </tr>
</table>
<br>
<br>
<button (click)=  "onSave()">Save</button>
<br>
<br>
<!-- <label for="example-ngModel">With NgModal: </label> -->
<input [(ngModel)]="title" >
<h1>{{title}}</h1>

<br>
<br>

<div *ngIf="hello">Hello</div>
<button (click)= "onClick()">Toggle</button>
<br>
<br>
<div *ngFor="let item of items">{{item.name}}</div>
<br>
<br> 
<div *ngFor="let item of items; let i=index">{{i + 1}} -
    {{item.name}}</div>
    